<table class="table table-striped table-hover overflow-y: hidden" *ngIf="indices; else 'Select country'">
    <thead>
        <tr>
            <th scope="col">Country</th>
            <th scope="col">Country code</th>
            <th scope="col">Date</th>
            <th scope="col">Value</th>
            <th scope="col">Unit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let indice of indices">
            <td>{{indice.country.value}}</td>
            <td>{{indice.country.id}}</td>
            <td>{{indice.date}}</td>
            <td>{{indice.value}}</td>
            <td>{{indice.unit}}</td>
        </tr>
    </tbody>
</table>
<ng-template #emptyList>
   <p>empty</p>
</ng-template>