<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand">Mundial Bank</a>
        <form class="d-flex">
            <input [(ngModel)]="selectedCountry"  [typeahead]="countriesCode" class="form-control" size="50" placeholder="Country code or name" [ngModelOptions]="{standalone: true}">
            <button class="btn btn-outline-success" (click)="search()" type="submit">Search</button>
        </form>
    </div>
</nav>