<div class="container">
    <app-country-form [countriesCode]="countriesCode" (searchEvent)="search($event)"></app-country-form>
    <div class="list-indices" *ngIf="selectedCountry" >
        <app-list-indices [indices]="indices"></app-list-indices>
    </div>
</div>
<app-pagination (page)="page($event)" [pages]="pages"></app-pagination>